<div class ="container">

  <% @profiles.each do |profile| %>

    <div class = "card">
      <div class ="card-banner"></div>

      <div class="content-container">
        <div class ="avatar-info">
          <%= cl_image_tag profile.photo.key, class:"avatar" %>
          <h4><%=profile.name%><h4>
        </div>

        <div class ="bio-tags">
                  <div data-controller="readmore">

                <p>
              <span data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample" data-action="click->readmore#collapse" data-readmore-target="button">
                <%= profile.bio[0...60] %>....Read more
            </span>
            <div class="collapse" data-readmore-target="readmoreContainer" id="collapseExample">
              <p class="card card-body ">
                <%= profile.bio[60...1000] %>
              <p>
            </div>
        </div>

        </div>


          <p><%= profile.problem %></p>
          <div class ="tags">
            tag tag tag tag
          </div>
        </div>
        <div class ="btn-frame"><a class = "button" href="">Chat</a></div>


      </div>


    </div>

  <% end %>
</div>
