<div class ="container-giva">

  <% @profiles.each do |profile| %>

    <div class="scene scene--card-giva">

      <div class="card-giva">

          <div class="card__face card__face--front">

            <div class="wrapper-div-front">

              <div class="padding-div">
              </div>

              <div class="content-wrapper-front">

                <div class="avatar-wrapper">
                  <%= cl_image_tag profile.photo.key, class:"avatar" %>
                  <h1><%=profile.name%><h1>
                </div>

                <div class="hand-wrapper">

                  <% if profile.displaced %>
                    <div class="hand">Need a hand with</div>
                    <div class="hand-content">
                      <%= profile.problem %>
                    </div>
                  <% else %>
                    <div class="hand">Give a hand with</div>
                    <div class="hand-content">
                      <%= profile.problem %>
                    </div>
                  <% end %>

                </div>


                <div class="tag-wrapper">
                  <% profile.tags.each do |tag| %>
                    <span class="tag"><%= tag %></span>
                  <% end %>
                </div>

              </div>

              <div class="arrow-right">
                <img src="https://res.cloudinary.com/dbgvo56a1/image/upload/v1662386125/arrow-right_jxhaee.png" alt="">
              </div>

            </div>

          </div>



          <div class="card__face card__face--back">

            <div class="wrapper-div-back">

              <div class="arrow-left">
                <img src="https://res.cloudinary.com/dbgvo56a1/image/upload/v1662386125/arrow-left_b0rgmu.png" alt="">
              </div>

              <div class="content-wrapper-back">

                <div class="bio-wrapper">
                  <div class="my-bio">About me</div>
                  <div class="bio">
                    <%= profile.bio %>
                  </div>
                </div>

                <div class="button-wrapper">
                    <a href="" class="chat-button">Chat</a>
                    <a href="" class="buddy-button">Buddy Up</a>
                </div>

              </div>

              <div class="padding-div">
              </div>

<<<<<<< HEAD
            <div class="buttons">

            <% if @chat.exists? %>
              <%= link_to "Chat", chats_path, data: {turbo_method: :post} %>
            <% else %>
              <%= link_to chats_path, data: {turbo_method: :get} %>
            <% end %>
              <a class="buddy-button" href="">Buddy Up</a>
=======
>>>>>>> b1c581f080e247d05a227cb338d59b1cd81dc5ec
            </div>

          </div>

      </div>

    </div>

  <% end %>


</div>
