
<div class="container bgrcolor">
  <%= form_with url: profiles_path, method: :get, class: "d-flex py-4" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "search-input w-100",
      placeholder: "Search for tags"
    %>
    <%= submit_tag "Search", class: "search-button" %>
  <% end %>
<h1>Buddies nearby</h1>
  <% @profiles.each do |profile| %>

    <div class="scene scene--card-giva my-3">

      <div class="card-giva">

          <div class="card__face card__face--front">
            <div class="wrapper-div-front">

              <div class="padding-div">
              </div>

              <div class="content-wrapper-front">

                <div class="avatar-wrapper">
                  <%= link_to profile_path(profile) do %>
                    <% if profile.displaced %>
                      <%= cl_image_tag profile.photo.key, class:"avatar" %>
                    <% else %>
                      <%= cl_image_tag profile.photo.key, class:"avatar" %>
                    <% end %>
                    <h1 class="avatar-name"><%=profile.name%><h1>
                  <% end %>
                </div>

                <div class="hand-wrapper">

                  <% if profile.displaced %>
                    <div class="hand">Need a hand with</div>
                    <div class="hand-content">
                      <%= profile.problem %>
                    </div>
                  <% else %>
                    <div class="hand">Give a hand with</div>
                    <div class="hand-content">
                      <%= profile.problem %>
                    </div>
                  <% end %>

                </div>

                <div class="hand-wrapper">
                <div class="hand">Tags</div>
                  <div class="tag-wrapper">
                    <% profile.user_tags.each do |dbTag| %>
                        <span class="tag"><%= Tag.find(dbTag.tag_id).title %></span>
                    <% end %>
                  </div>
                </div>
              </div>

              <div class="arrow-right">
                <img src="https://res.cloudinary.com/dbgvo56a1/image/upload/v1662386125/arrow-right_jxhaee.png" alt="">
              </div>

            </div>
          </div>



          <div class="card__face card__face--back">

            <div class="wrapper-div-back">

              <div class="arrow-left">
                <img src="https://res.cloudinary.com/dbgvo56a1/image/upload/v1662386125/arrow-left_b0rgmu.png" alt="">
              </div>

              <div class="content-wrapper-back">

                <div class="bio-wrapper">
                  <div class="my-bio">About me</div>
                  <div class="bio">
                    <%= profile.bio %>
                  </div>
                </div>

                <div class="button-wrapper">
                  <% chat = Chat.where(user_a_id: current_user.id, user_b_id: profile.id) || Chat.where(user_a_id: profile.id, user_b_id: current_user.id) %>
                  <% unless chat.empty? %>
                    <%= link_to "Chat", chat_path(chat[0].id), data: {turbo_method: :get}, class:"chat-button" %>
                  <% else %>
                    <%= link_to "Chat", chats_path(profile_id: profile.id), data: {turbo_method: :post}, class:"chat-button" %>
                  <% end %>
                  <%= link_to "Buddy Up", profile_buddies_path(profile_id: profile.id), data: {turbo_method: :post}, class:"buddy-button" %>
                </div>

              </div>

              <div class="padding-div">
              </div>

            </div>

          </div>

      </div>

    </div>
  <% end %>
</div>
