<<<<<<< HEAD
<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow text-center">
        <h1><%= @profile.name %></h1>
        <%# <%= cl_image_tag @profile.photo.key, crop: :fill, width: 500 %> 
        <p class="text-muted">About me:</p>
        <h3><%= @profile.bio %></h3>
        <p class="text-muted">Where I need your help:</p>
        <h3><%= @profile.problem %></h3>
        <div>
        </div>
      </div>
=======

<h1>show might not need</h1>
<div class = "card">
  <div class ="avatar-info">
    <%= cl_image_tag profile.photo.key %>
    <h4><%=profile.name%><h4>
    <p> X X X X </p>
  </div>
  <div class ="bio-tags-btn">
    <p> bio-expandable</p>
    <div class ="tags">
      tag tag tag tag
>>>>>>> f92293db5042fb60eb3b8121458d371502d39eae
    </div>
    <a href="">chat</a>
  </div>
</div>


