<div class="chatbar-giva d-flex justify-content-between align-items-center chat-container-fluid w-100">
  <div class="">
    <%= link_to chats_path do %>
    <img src="https://res.cloudinary.com/dbgvo56a1/image/upload/v1662557382/arrow-left-white_zkgi5y.svg" alt="">
    <% end %>
  </div>

    <% if chat.user_a == current_user %>
      <h1 class="chat-avatar-name pe-3"><%=chat.user_b.name%><h1>
    <% else %>
      <h1 class="chat-avatar-name pe-3"><%=chat.user_a.name%><h1>
    <% end %>

  <div>
    <%= link_to profile_path do %>
      <% if chat.user_a == current_user %>
        <%= cl_image_tag chat.user_b.photo.key, class:"chat-avatar" %>
      <% else %>
        <%= cl_image_tag chat.user_a.photo.key, class:"chat-avatar" %>
      <% end %>
    <% end %>
  </div>
</div>
