<div class="footer">
  <div class="footer-links">
  <%= link_to(profiles_path, class: "navbar-brand") do %>
      <%= image_tag "https://res.cloudinary.com/dbgvo56a1/image/upload/v1662389930/Group_5_i79aaj.svg" %>
    <% end %>
    <%= link_to(profiles_path, class: "navbar-brand") do %>
      <%= image_tag "https://res.cloudinary.com/dbgvo56a1/image/upload/v1662389930/Group_7_qacxb6.svg" %>
    <% end %>
    <%= link_to(locations_path, class: "navbar-brand") do %>
      <%= image_tag "https://res.cloudinary.com/dbgvo56a1/image/upload/v1662389930/Group_4_saamd1.svg" %>
    <% end %>
    <%= link_to(buddies_path, class: "navbar-brand") do %>
      <%= image_tag "https://res.cloudinary.com/dbgvo56a1/image/upload/v1662389930/Group_487_ydx2i9.svg" %>
    <% end %>
  </div>
</div>
