<div class="footer">
  <div class="footer-links">
   <%= link_to(profiles_path, class: "navbar-brand") do %>
      <%= image_tag "https://res.cloudinary.com/dbgvo56a1/image/upload/v1662374135/Group_5_jrc254.png" %>
    <% end %>
    <%= link_to(profiles_path, class: "navbar-brand") do %>
      <%= image_tag "https://res.cloudinary.com/dbgvo56a1/image/upload/v1662374135/Group_7_xrxpd5.png" %>
    <% end %>
    <%= link_to(locations_path, class: "navbar-brand") do %>
      <%= image_tag "https://res.cloudinary.com/dbgvo56a1/image/upload/v1662374135/Group_4_reiolh.png" %>
    <% end %>
    <%= link_to(profiles_path, class: "navbar-brand") do %>
      <%= image_tag "https://res.cloudinary.com/dbgvo56a1/image/upload/v1662382360/Group_487_mxgqql.png" %>
    <% end %>
  </div>
</div>
