
<div class="">
  <% @chats.each do |chat| %>
    <%= link_to chat_path(chat) do%>
      <div class="px-3 py-2">
        <% if chat.user_a == current_user %>
          <div class="d-flex justify-content-start align-items-center">
            <% if chat.user_b.photo.attached? %>
              <%= cl_image_tag chat.user_b.photo.key, class: "chatindex-avatar" %>
            <% end %>
            <div class="ps-3 flex-grow-1 d-flex justify-content-between align-itmes-start">
              <div class="flex-grow-1">
                <h3 class="chatindex-avatar-name"><%=chat.user_b.name%></h3>
                <p class="pt-2"><%=chat.messages.last.content unless chat.messages.empty? %><p>
              </div>
              <div class="text-center">
                <p class="chat-time"><%=chat.messages.last.created_at.strftime("%H:%m") unless chat.messages.empty? %></p>
                <% if !chat.messages.empty? %>
                  <div class="d-flex justify-content-center pt-2">
                    <div class="green-dot"></div>
                  </div>
                <% end %>
              </div>
            </div>

          </div>
        <% else %>
          <div class="d-flex justify-content-start align-items-center">
            <% if chat.user_a.photo.attached? %>
              <%= cl_image_tag chat.user_a.photo.key, class: "chatindex-avatar" %>
            <% end %>
            <div class="ps-3 flex-grow-1 d-flex justify-content-between align-itmes-start">
              <div class="flex-grow-1">
                <h3 class="chatindex-avatar-name"><%=chat.user_a.name%></h3>
                <p class="pt-2"><%=chat.messages.last.content unless chat.messages.empty? %><p>
              </div>
              <div class="text-center">
                <p class="chat-time"><%=chat.messages.last.created_at.strftime("%H:%m") unless chat.messages.empty? %></p>
                <% if !chat.messages.empty? %>
                  <div class="d-flex justify-content-center pt-2">
                    <div class="green-dot"></div>
                  </div>
                <% end %>
              </div>
            </div>

          </div>
        <% end %>
      </div>
    <% end %>

  <% end %>

</div>
