<div class="container-chat"
  data-controller="chat"
  data-chat-chat-id-value="<%= @chat.id %>"
>

  <div class="messages" data-chat-target="messages">
    <% @chat.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>


<div class="chataction">
  <%= simple_form_for [@chat, @message],
  html: { data: { action: "turbo:submit-end->chat#resetForm" }, class: "d-flex" } do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: "Message ##{@chat.name}",
      wrapper_html: {class: "flex-grow-1 rounded-20px chatEl"}

    %>
    <%= f.submit "Send", class: "mb-3 p-2 send-minty" %>
  <% end %>
  </div>
</div>
