<div class="container chatroom"
  data-controller="chat"
  data-chat-chat-id-value="<%= @chat.id %>"
  data-chat-current-user-id-value="<%= current_user.id %>">



  <div class="messages" data-chat-target="messages">
    <% @chat.messages.each do |message| %>
    <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
      <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
        <%= render "messages/message", message: message %>
      </div>
    </div>
    <% end %>
  </div>


<div class="chataction">
  <%= simple_form_for [@chat, @message],
  html: { data: { action: "turbo:submit-end->chat#resetForm" }, class: "d-flex" } do |f|
  %>
    <%= f.input :content,
      label: false,
      # placeholder: "Message ##{@chat.name}",
      wrapper_html: {class: "flex-grow-1 rounded-20px chatEl"}

    %>
    <%= f.submit "Send", class: "mb-3 p-2 send-minty" %>
  <% end %>
</div>
</div>
