
<%# <%= simple_form_for (@profile @review) %>
<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h1>New Review</h1>
        <h2><%= @user.name %></h2>
          <%= simple_form_for(@review, method: :post, url: profile_reviews_path(@user)) do |f| %>

         <%#= simple_form_for :url => profile_reviews_path(current_user), :method => :post do |f| %>
          <%= f.input :content %>
          <%= f.submit class: 'btn btn-outline-warning' %>
        <% end %>
      </div>
    </div>
  </div>
</div>`
