<h2><%= location.category %></h2>
<p><%= location.description %></p>
<p>Address : <%= location.address %></p>
<p>Opening hours : <%= location.opening_hour.strftime("%H:%M") %> - <%= location.closing_hour.strftime("%H:%M") %></p>
