
  <%= form_with url: locations_path, method: :get, class: "d-flex search-bar justify-content-between m-3" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "w-100 flex-grow-1 search-input",
      placeholder: "Find a location"
    %>
    <%= submit_tag "Search", class: "search-button" %>
  <% end %>

  <div class="pb-5 mb-5" style="width: 100%; height: 87%;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
